section.section.rab-leg
	.container
		.row.justify-content-between
			.col-12.col-md-3
				img(src="./images/logo-ek.png").logoEka
			.col-12.col-md-9
				.d-flex.justify-content-md-end.nav-menu.mt-20.mt-md-0
					a(href="/").def-link.active Стандартна версія
					a(href="/").def-link Vip-версія
		h1.rab-leg__title Робота легша, коли є система «Expertus: Кадри»
		h4.rab-leg__desc  Поставте запитання та отримайте готове рішення, наприклад:

		form.rab-leg__search(action='')
			input#phrase(type='search', placeholder='Щорічна відпустка', value='')
			button#searchform.search__button Пошук

