section.section.reviews
	.container 
		h2.mcfr-title Кожний день Система Expertus: Кадри стає краще завдяки вашим відгукам
		.slideRev
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/bond.png')")
						//- .user__name Остап Федоренко
					div.img-rev
						img(src="./images/star.png")
						span 10 з 10

				.review__body 
					p 
						b Любов Бондаренко,&nbsp;
						| оновлений Expertus: Кадри це вже з розряду тяжких наркотиків. Інтерфейс — просто супер для неофітів, для користувачів минулої версії потребує певного часу на «переформатування». Структурування матеріалу — якби хотіла зробити, робила б саме так.
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/sem.png')")
						//- .user__name Катерина Мішина
					div.img-rev
						img(src="./images/star.png")
						span 9 з 10

				.review__body 
					p 
						b Денис Семенов,&nbsp; 
						| на мою думку, Система «Expertus: Кадри» є сучасним та зручним електронним посібником, який дає змогу користуватися величезним масивом корисної інформації відповідного спрямування в будь-якій точці, де є інтернет. Для мене це запорука належного ведення кадрового діловодства та міцний тил.
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/savina.png')")
						//- .user__name Наталія Іванченко
					div.img-rev
						img(src="./images/star.png")
						span 10 з 10

				.review__body 
					p 
						b Валентина Савіна,&nbsp; 
						| oчень довольна и рада, что руководитель нашего предприятия выбрал верное решение и мы приобрели Expertus. Огромная помощь в работе кадровику. Некоторые руководители принимают решение, которое не соответствует законодательству. Ответы эксперта всегда приходят на помощь. У меня большой стаж работы, но все нововведения многое перечёркивают и надо учиться заново. А у меня есть ВЫ.
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/shak.png')")
						//- .user__name Наталія Іванченко
					div.img-rev
						img(src="./images/star.png")
						span 10 з 10

				.review__body 
					p 
						b Ярослава Шкандала,&nbsp; 
						| Экспертно-правовая система «Expertus: Кадри» — система, которая никогда не подводит, помогает во всех аспектах кадровой работы и будет профессионально необходима и интересна как начинающим кадровикам, так и кадровым экспертам.